* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #dcdcdc;
  padding: 20px;
  text-align: center;
}

.book-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.book-card {
  width: 500px;
  height: 500px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.book-card:hover {
  transform: scale(1.1);
}

.book-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.book-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  background-color: #f4f4f4;
}

.book-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-author {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 5px;
}

.book-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

button {
  background-color: #008CBA;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #005f6b;
}

footer {
  background-color: #dcdcdc;
  padding: 20px;
  text-align: center;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

footer nav ul li a {
  text-decoration: none;
  color: #008CBA;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #008CBA;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #005f6b;
}

@media only screen and (max-width: 768px) {
  .book-card {
      width: 100%;
  }
}
